<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    {% load static %}
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pizza</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == "/" %} active {% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Menu <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item {% if "order" in request.path %} active {% endif %}">
                    <a class="nav-link" href="{% url 'orders' %}">Orders</a>
                </li>
            {% endif %}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link disabled" href="#">{{ request.path }}</a>#}
            {#            </li>#}
            {#            <li class="nav-item dropdown">#}
            {#                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
            {#                <div class="dropdown-menu" aria-labelledby="dropdown04">#}
            {#                    <a class="dropdown-item" href="#">Action</a>#}
            {#                    <a class="dropdown-item" href="#">Another action</a>#}
            {#                    <a class="dropdown-item" href="#">Something else here</a>#}
            {#                </div>#}
            {#            </li>#}
        </ul>
        {% if not user.is_authenticated %}
            <form class="form-inline" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username:</label>
                    <input class="form-control" id="id_username" name="username" type="text" placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input class="form-control" id="id_password" name="password" type="password" placeholder="Password"/>
                </div>
                <input class="btn btn-default" type="submit" value="Login"/>
            </form>
            {#            <a class="nav-link" href="{% url 'login' %}">Login</a>#}
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        {% else %}
            <a class="nav-link" href="{% url 'profile' %}">Welcome, {{ user.username }}</a>
            <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
        {% endif %}
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <div>
        <span>CS50's Web Programming with Python and JavaScript. Project 3.</span>
        <span>Posted by: Roman Shkromyda</span>
    </div>
</footer>
</body>
</html>